Diagnostics:
  UnusedIncludes: None
---
If:
  PathMatch: ./extern/.*
Index:
  Background: Skip

CompileFlags:
  Add: [
    "-I/home/jess/.local/share/vcpkg/installed/x64-linux/include",
    "-L/home/jess/.local/share/vcpkg/installed/x64-linux/lib"
  ]